/* NotFound.css */

.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .bounce {
    font-size: 6em;
    margin: 0;
    color: #e74c3c;
    animation: bounce 1s infinite;
  }
  
  /* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
   */
  .not-found-content p {
    margin: 10px 0;
    color: #555;
  }
  
  .not-found-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .not-found-content a:hover {
    background-color: #2980b9;
  }
  