
  
  .Forget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Forget-f {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 1px solid black;
  }
  
  .btn-edit {
    background-color: #4caf50; /* Green color for the button */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium; /* Set font size to medium */
    transition: background-color 0.3s; /* Add a smooth transition for the background color */
  }
  
  .btn-edit:hover {
    background-color: #45a049; /* Darker shade on hover */
  }
  