body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Background color for the whole page */
  }
  
  .Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  hr {
    border: 1px solid #ddd;
    margin: 15px 0;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  .icon1 {
    cursor: pointer;
    display: inline-block;
    margin-left: -24.5px;
  }
  
  .icon1:hover {
    color: #007bff; /* Change color on hover */
  }
  
#button1{
    background-color: #4caf50; /* Green color for the button */
    color: #fff;
    padding: 2%;
    width:96%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
  
}


  #button {
    background-color: #4caf50; /* Green color for the button */
    color: #fff;
    padding: 2%;
    width:100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
  }
  
  #button:hover {
    background-color: #45a049; /* Darker shade on hover */
  }
  
  #button:active {
    background-color: #398439; /* Change the color when the button is clicked */
  }
  

  #button1:hover {
    background-color: #45a049; /* Darker shade on hover */
  }
  
  #button1:active {
    background-color: #398439; /* Change the color when the button is clicked */
  }
  /* Additional styles for the 'or' text */
  .or {
    margin: 10px 0;
    color: #777;
  }
  
  /* Additional styles for the 'Login' link */
  .button a {
    text-decoration: none;
    color: #007bff;
  }
  
  .button a:hover {
    text-decoration: underline;
  }
  