/* Add this to your existing CSS file or create a new one for ChangeUserPassword component */

.Change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; /* Set your preferred background color */
}

.change-password {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon {
  position: absolute;
  right: 37.5%;
  top: 52%;
  cursor: pointer;
}

.but {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: #ff5a5a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="button"]:hover {
  background-color: #a50000ad;
}
